@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h2>Đặt hàng thành công</h2>
<a class="btn btn-success" href="@Url.Action("Products","Product")">Tiếp tục</a>