
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div style="padding:20px; margin:20px;">

    <h2 style="text-align:center">Chào mừng đến với PhoneK </h2>
    <hr />
    <p>
        <br />
        &nbsp; &nbsp; &nbsp; &nbsp;Chào mừng bạn đến với trang web PhoneK.com của trang web bán điện thoại của chúng tôi! Chúng tôi tự hào là một địa chỉ đáng tin cậy cho tất cả những ai đang tìm kiếm một nơi để mua những sản phẩm điện thoại chất lượng và mới nhất trên thị trường. <br /> <br />

        Với sứ mệnh cung cấp sự lựa chọn đa dạng và giá trị tối ưu cho khách hàng, chúng tôi luôn cập nhật các sản phẩm hot nhất từ các thương hiệu hàng đầu như Samsung, Apple, Google, OnePlus, Xiaomi và nhiều hơn nữa. Bất kể bạn là người dùng thích thiết kế đẹp mắt, camera chuyên nghiệp hay hiệu năng mạnh mẽ, chúng tôi đáp ứng đủ những yêu cầu và sở thích của bạn. <br /> <br />

        Chúng tôi cam kết mang đến cho bạn một trải nghiệm mua sắm trực tuyến tiện lợi, an toàn và đáng tin cậy. Với giao diện dễ sử dụng và thông tin sản phẩm chi tiết, bạn sẽ dễ dàng tìm hiểu và chọn lựa những sản phẩm phù hợp với nhu cầu của mình. Chúng tôi cũng cam kết đảm bảo chất lượng sản phẩm, đáng tin cậy về hỗ trợ hậu mãi và giao hàng nhanh chóng. <br /> <br />

        Hãy ghé thăm trang web của chúng tôi ngay hôm nay để khám phá những sản phẩm điện thoại mới nhất và tìm kiếm những ưu đãi hấp dẫn. Chúng tôi hy vọng sẽ trở thành đối tác đáng tin cậy của bạn trong việc tìm kiếm và sở hữu chiếc điện thoại hoàn hảo cho bạn! <br />
    </p>
</div>