@model DAWebPhone.Models.AdminUser

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLogin.cshtml";
}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="~/Images/Logo/king.jpg"class="brand_logo" alt="Logo"  />
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control input_user" id="name" name="AdmLogName" required oninvalid="this.setCustomValidity('Chưa điền tên đăng nhập!')" oninput="this.setCustomValidity('')" placeholder="Tài khoản">
                        <p class="text-danger">@Html.ValidationMessageFor(model => model.AdmLogName)</p>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control input_pass" id="pwd" name="AdmPass" required oninvalid="this.setCustomValidity('Chưa điền mật khẩu!')" oninput="this.setCustomValidity('')" placeholder="Mật khẩu">
                        <p class="text-danger">@Html.ValidationMessageFor(model => model.AdmPass)</p>
                    </div>
                    <br/>
                    <button type="submit" class="btn login_btn">Đăng nhập</button>
                }
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <a class="btn btn-primary" href="Register">Đăng ký</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-danger" href="#">Quên mật khẩu?</a>
                </div>
            </div>
        </div>
    </div>
</div>

