    <div class="search-bar">
        <form class="search-form d-flex justify-content-end" method="GET" action="@Url.Action("SearchList","Product")">
            <input type="text" name="s" placeholder="Bạn cần tìm gì?" >
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>
