body {
    background-color: #1d2a35 !important;
    color: #ddd !important;
}

#menu {
    /* height: 660px; */
    background-color: #202020;
    padding: 15px;
    display: none;
}

#cart-list {
    /* height: 660px; */
    background-color: #202020;
    display: none;
    padding: 15px;
}

#main {
    padding: 15px;
    float: left;
}

#login {
    border-radius: 0px;
    font-size: 20px;
}

#nav2 {
    height: 40px;
}

#btnmenu {
    border-radius: 0px;
    font-size: 18px;
    width: 50px;
}

.nb-link {
    border-radius: 0px;
    color: white;
    border: 0px;
}

#cart {
    margin-top: 2px;
    right: 10px;
    position: absolute;
}

.pro-img {
    width: 250px;
    height: 250px;
}
.center{
    text-align:center !important;
}
